.navbar {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
}
.navbar-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.navbar-tabs {
	display: flex;
	gap: 20px;
}

.tab {
	background-color: #0056b3;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.tab.active {
	background-color: #003f7f;
}
